alembic==1.7.5
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
Faker==11.3.0
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
graphql-core==3.2.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.10.1
importlib-resources==5.4.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
prettytable==3.0.0
psutil==5.9.0
py==1.11.0
pyactiveresource==2.2.2
PyJWT==2.3.0
pyparsing==3.0.7
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
sgqlc==15.0
ShopifyAPI==10.0.0
six==1.16.0
SQLAlchemy==1.4.31
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.8
wcwidth==0.2.5
Werkzeug==2.0.2
zipp==3.7.0
