<script>
  console.log('App Theme Extension Embed')
</script>
<div style="display: none">Hello World</div>
{% schema %}
{
  "name": "AppScaffold",
  "target": "body",
  "javascript": "app.js",
  "settings": []
}
{% endschema %}